{% load static %}

<div class="sidebar" id="sidebar">
   
    <div class="sidebar-heading text-center py-4 primary-text fs-5 fw-bold border-bottom">
        <img src="{% static 'images/defaultf1.png' %}" class="profile" alt="Faculty Profile">
        <br><br>
        <h5>Hello, Prof. {{ request.user.profile.full_name }}</h5>
    </div>

    
    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'faculty_dashboard' %}" class="sidebar-link">
                <i class="bi bi-speedometer2"></i>
                <div class="menu-text">
                    <span class="menu-title">My Dashboard</span>
                    <small class="menu-desc">Personal analytics</small>
                </div>
            </a>
        </li>

        <li>
            <a href="{% url 'faculty_zone' %}" class="sidebar-link">
                <i class="bi bi-bar-chart-fill me-2"></i>
                <div class="menu-text">
                    <span class="menu-title">Faculty Zone</span>
                    <small class="menu-desc">Notes, papers & syllabus</small>
                </div>
            </a>
        </li>

        <li>
            <a href="{% url 'notifications:notifications_list' %}" class="sidebar-link">
                <i class="bi bi-bell-fill"></i>
                <div class="menu-text">
                    <span class="menu-title">Notifications & Alerts</span>
                    <small class="menu-desc">MSBTE updates & news</small>
                </div>
            </a>
        </li>

        <li>
            <a href="{% url 'support' %}" class="sidebar-link">
                <i class="bi bi-people-fill"></i>
                <div class="menu-text">
                    <span class="menu-title">Connect</span>
                    <small class="menu-desc">Help & community</small>
                </div>
            </a>
        </li>
    </ul>

    
    <div class="collapse-btn" onclick="toggleSidebar()">
        <i class="bi bi-chevron-left" id="collapseArrow"></i>
    </div>

    
    <div id="panel">
        <i class="bi bi-book me-1"></i> PolyRise Faculty Panel
    </div>
</div>

<link rel="stylesheet" href="{% static 'dashboard/css/sidebar2.css' %}">